* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif */

:root {
  --primary-color: #f3eed9;
  --secondary-color: #824936;
  --dark-black: #222c2a;
}

.container {
  width: 100%;
  max-width: 1128px;
  margin: 0 auto;
}

header {
  background-color: var(--primary-color);
}

.header__content {
  min-height: 660px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.header__content strong {
  letter-spacing: 0.5rem;
  color: var(--dark-black);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.header__content h1 {
  color: var(--secondary-color);
  font-family: "Playfair Display", serif;
  font-weight: 900;
}

.section-one {
  margin: 5rem 0;
}

.section-one h1 {
  text-align: center;
  font-family: "Playfair Display", serif;
  color: var(--secondary-color);
}
.section-one__content {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem auto;
}

.section-one__content .one,
.section-one__content .two {
  width: 45%;
  font-family: "Roboto", sans-serif;
}

.section-two {
  background-color: var(--dark-black);
}

.section-two__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 2rem;
  color: #fff;
}

.section-two__content .one {
  width: 45%;
  font-family: "Roboto", sans-serif;
  align-self: flex-start;
}

.section-two__content h1 {
  font-family: "Playfair Display", serif;
  margin-bottom: 1rem;
}

.section-two__content .two {
  width: 45%;
  font-family: "Roboto", sans-serif;
}

.section-three {
  background-color: var(--secondary-color);
}

.section-three__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 2rem;
  color: #fff;
}

.section-three__content .one {
  width: 45%;
  font-family: "Roboto", sans-serif;
}

.section-three__content h1 {
  font-family: "Playfair Display", serif;
  margin-bottom: 1rem;
}

.section-three__content .two {
  width: 45%;
  font-family: "Roboto", sans-serif;
  align-self: flex-start;
}

img {
  max-width: 100%;
}
